/*
 * Toggler - Test
 */

.b-toggler__toggler._name_test {
    font-size: 32px;

    .b-toggler__text {
        text-decoration: underline;
        text-decoration-style: dotted;

        &._name_opened {
            color: red;
        }

        &._name_closed {
            color: green;
        }
    }
}

.b-toggler__dummy-panel._name_test {
    color: gray;
}
