/*
 * Toggler - Test
 */

.b-toggler._name_test {
    &.b-toggler__toggler {
        font-size: 32px;

        .b-toggler__text {
            border-bottom: 1px dotted;

            &._name_opened {
                color: green;
            }

            &._name_closed {
                color: red;
            }
        }
    }
}
